<html ng-app="mymodule">
<head></head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js">
</script>
<script src="event.js"></script>
<body ng-controller="mycontrlr">
search:<input type="text" ng-model="searchText">
<table>
<thead>
<tr>
<th>firstname</th>
<th>lastname</th>
<th>designation</th>
<th>likes</th>
<th>dislikes</th>
<th>Like/dislike</th>
</tr>
</thead>
	<tbody>
	<tr ng-repeat="emp in emp|filter:searchText">
	<td>{{emp.firstname}}</td>

	<td>{{emp.lastname}}</td>
	<td>{{emp.designation}}</td>
	<td>{{emp.likes}}</td>
	<td>{{emp.dislikes}}</td>
	<td>
		<input type="button" ng-click="incrementlikes(emp)" value="like">
		<input type="button" ng-click="incrementdislikes(emp)" value="dislike">
	</td>
	</tr>
	</tbody>
</body>
</html>